.App {
  text-align: center;
}

.Numgrid {
  display: grid;
  background-color: black;
  color: white;
  max-width: 400px;
  height: 500px;
  grid-template-areas: 
  "a  b  c  d"
  "e  f  g  h"
  "i  j  k  l"
  "m  n  o  p"
  "q  q  r  s";
}
.NumBtns {
  /* text-align: center; */
  /* justify-content: center; */
  position: relative;
  width: 95%;
  height: 90%;
}
.SpecialOps {
  background-color: lightgray;
}
.MainOps {
  background-color: orange;
}
.Numbers {
  background-color: darkgray;
}
.btnText {
  /* display: flexbox; */
  position: absolute;
 padding: 0;
 margin: 0;
/* text-align: center; */

top: 50%;
left: 50%;
transform: translateY(-50%);
}
.clear {
  grid-area: a;
}
.negate {
  grid-area: b;
}
.percent {
  grid-area: c;
}
.divide {
  grid-area: d;
}
.seven {
  grid-area: e;
}
.eight {
  grid-area: f;
}
.nine {
  grid-area: g;
}
.times {
  grid-area: h;
}
.four {
  grid-area: i;
}
.five {
  grid-area: j;
}
.six {
  grid-area: k;
}
.minus {
  grid-area: l;
}
.one {
  grid-area: m;
}
.two {
  grid-area: n;
}
.three {
  grid-area: o;
}
.plus {
  grid-area: p;
}
.zero {
  grid-area: q;
}
.dot {
  grid-area: r;
}
.equals {
  grid-area: s;
}
