.App {
  text-align: center;
}
.centerAll {
  margin: 1rem auto;
}
.calcScreen {
  position: relative;
  max-width: 400px;
  height: 120px;
  background-color: black;
  color: white;
  font-size: 3.5rem;
  text-align: end;
}
.screen{
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0.29rem;
  right: 0.29rem;
}

.operation {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  top: 0.29rem;
  left: 0.29rem;
}

.Numgrid {
  display: grid;
  box-sizing: border-box;
  /* grid-gap: 0.19rem; */
  /* padding: 0.25rem; */
  background-color: black;
  color: white;
  max-width: 400px;
  height: 500px;
  grid-template-areas: 

  "e  f  g  d"
  "i  j  k  h"
  "m  n  o  l"
  "q  q  r  p"
  "a  a  a  s";
}
.NumBtns {
  display: flex;
  position: relative;
  width: 98%;
  height: 98%;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  /* border: black solid 0.1rem; */
}
.SpecialOps {
  background-color: lightgray;
  color: black;
}
.MainOps {
  background-color: orange;
  color: white;
}
.Numbers {
  background-color: darkgray;
}
.btnText {
  position: absolute;
 padding: 0;
 margin: 0;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.clear {
  grid-area: a;
  width: 99.5%;
}
.divide {
  grid-area: d;
}
.seven {
  grid-area: e;
}
.eight {
  grid-area: f;
}
.nine {
  grid-area: g;
}
.times {
  grid-area: h;
}
.four {
  grid-area: i;
}
.five {
  grid-area: j;
}
.six {
  grid-area: k;
}
.minus {
  grid-area: l;
}
.one {
  grid-area: m;
}
.two {
  grid-area: n;
}
.three {
  grid-area: o;
}
.plus {
  grid-area: p;
}
.zero {
  grid-area: q;
  width: 99%;

}
.dot {
  grid-area: r;
}
.equals {
  grid-area: s;
}
